.container {
  padding: 1rem;
  width: 100%;
  max-width: 640px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.link {
  margin: 1rem 0;
  display: block;
}
